.skills-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  color: #fff;
  font-family: "poppins";
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9rem;
  border-radius: 30px;
}

.card-left {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-left img {
  height: 80px;
  margin-bottom: 1rem;
}

.card-left h3 {
  font-size: 18px;
}

.card-right {
  max-width: 600px;
  flex: 1;
}

.card-right p {
  font-size: 16px;
  line-height: 1.6;
}

.card-right button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  border: none;
  background-color: #2b2b2b;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
