@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* --------------------- Logo Animation --------------------- */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* --------------------- Typography & Utility --------------------- */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gtext {
  font-size: 12px;
  font-family: "Poppins";
  padding-right: 15%;
}

/* --------------------- Layout Sections --------------------- */
.head {
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
}

.nav_bar {
  padding-right: 25%;
}

.btn1 {
  width: 120%;
  font-size: 13px;
  height: 40px;
  background-color: hsl(32, 100%, 51%);
  text-align: center;
  border-radius: 30px;
}

.profile_card {
  margin-top: 10%;
}

.txt2 {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 55px;
  z-index: 1;
  text-align: left;
}

.custom-spotlight-card {
  margin-top: 15%;
}

.cards {
  display: flex;
  gap: 50px;
}

.card1 {
  width: 65%;
  height: 250px;
  background-size: cover;
  margin-top: 85px;
  text-align: center;
}

.img4 {
  background-image: url(../src/assets/skills/atom.png);
  background-size: cover;
}

.txt3 {
  text-align: left;
  font-size: 45px;
}

.txt4 {
  text-align: left;
  padding-top: 5%;
  padding-left: 1%;
}

.txt5 {
  padding-top: 5%;
  text-align: left;
  font-size: 20px;
  padding-left: 5%;
}

.p7 {
  text-align: left;
  font-size: 18px;
}

.social_media {
  display: flex;
  gap: 5%;
  margin-top: -5%;
  margin-left: 5%;
}

.txt6 {
  padding-top: 14%;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 18px;
  width: 90%;
}

.btn2 {
  margin-top: 10%;
}

.channels {
  margin-top: 5%;
}

.box1 {
  border-radius: 20px;
  height: 500px;
  background: linear-gradient(90deg, #6539eb 0%, #0fe6e5 100%);
  background-size: 400% 400%;
  animation: animationName 1s ease infinite;
  margin-top: 5%;
}

@keyframes animationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact {
  display: flex;
  background: linear-gradient(90deg, #000000 0%, #1a1919 100%);
  height: 500px;
  border-radius: 20px;
  gap: 10%;
  margin-top: 5%;
}

.card2 {
  width: 65%;
  height: 250px;
  background-size: cover;
  margin-top: 85px;
  text-align: center;
  border-radius: 30px;
}

.yt_btn {
  background-color: #0000005d;
}

.input2 {
  width: 160%;
  height: 50px;
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  padding-left: 35px;
  background-color: #22242481;
}

.row1 {
  margin-left: 10%;
  margin-top: 10%;
}

.row2 {
  margin-top: 5%;
  margin-left: 15%;
}

.details1 {
  display: flex;
}

.cardinfo2 {
  margin-left: 5%;
  margin-top: 5%;
}

.profilecard1 {
  margin-top: 10%;
  text-align: left;
}

.btn7 {
  margin-top: 5%;
  border-radius: 30px;
  width: 25%;
  height: 50px;
  font-size: 13px;
}

.btn7:hover {
  background-color: #000000;
  color: white;
}

.yt_vid {
  width: 200%;
  border-radius: 30px;
  margin-top: 8%;
}

/* --------------------- Responsive Design --------------------- */
@media (max-width: 480px) {
  body {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .nav_bar {
    display: none;
  }

  .head {
    width: 100%;
    text-align: center;
    margin-left: -15%;
  }

  .btn1 {
    width: 100%;
  }

  .headtxt {
    font-size: 20px;
  }

  .details1 {
    display: grid;
  }

  .profile_card {
    margin-left: 10%;
  }

  .txt3 {
    font-size: 23px;
    text-align: center;
  }

  .p7 {
    font-size: 14px;
    text-align: center;
  }

  .btn7 {
    width: 50%;
    text-align: center;
    margin-left: 25%;
  }

  .txt4 {
    text-align: center;
    font-size: 30px;
  }

  .cards {
    display: grid;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-left: 15%;
  }

  .card1 {
    margin-top: 1%;
  }

  .social_media {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .txt5 {
    text-align: center;
    font-size: 15px;
  }

  .card2 {
    height: 180px;
    margin-top: 15%;
    text-align: center;
    align-content: center;
    margin-left: 5%;
  }

  .txt6 {
    font-size: 10px;
    text-align: center;
    padding-top: 0%;
  }

  .yt_btn {
    border-radius: 30px;
    font-size: 12px;
  }

  .contact {
    display: grid;
    margin-left: -7%;
    justify-content: center;
    text-align: center;
    width: 105%;
    height: 580px;
  }

  .p5 {
    display: none;
  }

  .contact_txt {
    text-align: center;
    font-size: 25px;
  }

  .row2 {
    width: 80%;
    margin-left: -20%;
    margin-top: -15%;
  }

  .yt_vid {
    width: 95%;
  }

  .box1 {
    margin: auto;
    background: transparent;
  }
}


